@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Dosis:wght@200..800&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    user-select: none;
    -webkit-user-select: none;

    font-family: "Pixelify Sans", serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100vw;
    min-height: 100vh;

    background-color: #f0f0f0;
}

.info-section {
    width: 98vw;

    display: flex;
    align-items: center;
}

.info-section div {
    width: 49vw;

    background-color: antiquewhite;
    transition: all 0.5s ease;
}

@media screen and (orientation: landscape) {
    .info-section div {
        height: 100vh;
    }
}

@media screen and (orientation: portrait) {
    
}